 body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f7fa;
}
.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: start;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 50px;
  color: #002C5C;
}

.dashboard {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.card-box {
  flex: 1;
  min-width: 150px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  text-align: start;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card-box h2 {
  margin: 0;
  color: #002C5C;
  font-size: 30px;
  font-weight: 700;
}
.card-box h3 {
  margin: 0;
  color: #10B981;
  font-size: 30px;
  font-weight: 700;
}
.card-box h4 {
  margin: 0;
  color: #EF4444;
  font-size: 30px;
  font-weight: 700;
}
.card-box p{
  color: #323B49;
  font-size: medium;
  font-weight: 500;
}